.App {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.book-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
}

.book-card {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  margin-bottom: 10px;
  color: #ffffff;
  background-color: rgb(74, 184, 235);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  width: 75%;
  height: 170px;
}

.book-details {
  font-size: 18px;
  width: 80%;
  margin-left: 10px;
}

.book-cover {
  margin:10px 15px 10px 10px;
  width: 20%;
  background: url(./bookCover.png);
  color: darkslategray;
  border-radius: 2px;
}
